@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Niconne";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/Niconne-Regular.ttf") format("woff2");
  }
  @font-face {
    font-family: "Moderustic";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/Moderustic-VariableFont_wght.ttf") format("woff2");
  }

  .markdown-body {
    @apply bg-latte-crust text-latte-text dark:bg-mocha-crust dark:text-mocha-text;
  }

  /* 1. The Code Block Container */
  .markdown-body pre {
    @apply my-6 p-4 overflow-x-auto rounded-lg border;
    /* Dark mode: Mocha shades | Light mode: Latte shades */
    @apply dark:bg-mocha-base dark:border-mocha-surface0 bg-latte-base border-latte-surface0;
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
  }

  /* 2. Inline Code (the one inside paragraphs) */
  .markdown-body :not(pre) > code {
    @apply px-1.5 py-0.5 rounded font-mono text-sm;
    @apply dark:bg-mocha-surface0 bg-latte-surface0 text-just-red;
  }

  /* Give links pointing to the current page a green color */
  /*
  a[aria-current="page"] {
  @apply text-just-red;
  }
   */
/* Color all ancestor links of the current page */
/*
a[aria-current="true"] {
@apply text-just-red;
}
 */

p a {
  @apply !text-just-red;
}
}
